body {
    font-family: sans-serif;
    display: flex;
    margin:0;
    height: 100%;
}

#menuContent{
    /* background-color: #EEEEEE; */
    background-color: #EEEEEE;
    min-width:270px;
    height: 100vh;
}

#menu_core{
    padding:30px 0;
}

#menu_core p{
    margin-left: 25px;
}

#menu_core h1{
    font-size:27px;
    margin: 30px 0;
    text-align:center;
}

#menu_list{
    list-style: none;
    font-size: 17px;
}

#menu_list a:hover{
    color:#0000FF;
    text-decoration:underline;
}

#menu_list li{
    margin: 40px 0 40px -15px;
}

#menu_list img{
    width:22px;
    height:22px;
    margin: 0 10px 0 0;
}

#mainContent{
    /* background-color: #EEEEEE; */
    width:100%;
    height: 100vh;
    padding:0 15px;
}

#purchase_table{
    border-collapse:collapse;
    text-align: left;
}

#purchase_table td{
    padding: 20px 50px 20px 20px;
    border-spacing: 0;
    border-bottom: 1.5px solid #BBBBBB;
}

#header{
    text-align: center;
}

.right{
    text-align: right;
}

.category{
    /* padding: 10px 0 ;
    background-color: chartreuse;
    border-radius: 10px;
    line-height: 10px; */
    text-align: center;
}

.ediBtn{
    color:#0000FF;
    text-decoration:underline;
    padding-right: 10px;
}

.delBtn{
    color:#ff0037;
    text-decoration:underline;
}

.center{
    text-align: center;
}