body {
    font-family: sans-serif;
    display: flex;
    margin:0;
    height: 100%;
}

#menuContent{
    /* background-color: #EEEEEE; */
    background-color: #EEEEEE;
    min-width:270px;
    height: 100vh;
}

#menu_core{
    padding:30px 0;
}

#menu_core p{
    margin-left: 25px;
}

#menu_core h1{
    font-size:27px;
    margin: 30px 0;
    text-align:center;
}

#menu_list{
    list-style: none;
    font-size: 17px;
}

#menu_list a:hover{
    color:#0000FF;
    text-decoration:underline;
}

#menu_list li{
    margin: 40px 0 40px -15px;
}

#menu_list img{
    width:22px;
    height:22px;
    margin: 0 10px 0 0;
}

#mainContent{
    /* background-color: #EEEEEE; */
    width:100%;
    height: 100vh;
    padding:0 15px;
}

#purchase_table{
    border-collapse:collapse;
    text-align: left;
}

#purchase_table td{
    padding: 20px 50px 20px 20px;
    border-spacing: 0;
    border-bottom: 1.5px solid #BBBBBB;
}

#header{
    text-align: center;
    font-weight: bold;
}

.right{
    text-align: right;
}

.category{
    text-align: center;
}

/* .proKind{
    padding: 4px 8px;
    background-color: #CCCCCC;
    border-radius: 12px;
} */

.cashNo_1{
    padding: 4px 8px;
    background-color: #FFFFCC;
    border-radius: 12px;
}
.cashNo_2{
    padding: 4px 8px;
    background-color: #FF3300;
    border-radius: 12px;
}
.cashNo_3{
    padding: 4px 8px;
    background-color: #99FF99;
    border-radius: 12px;
}
.cashNo_4{
    padding: 4px 8px;
    background-color: #66CCFF;
    border-radius: 12px;
}
.cashNo_5{
    padding: 4px 8px;
    background-color: #FF0000;
    border-radius: 12px;
}
.cashNo_6{
    padding: 4px 8px;
    background-color: #66CC00;
    border-radius: 12px;
}
.cashNo_7{
    padding: 4px 8px;
    background-color: #CCFFFF;
    border-radius: 12px;
}

#ediBtn{
    text-decoration:none!important;
    /* color:#0000FF;
    padding-right: 10px; */
}

/* .delBtn{
    color:#ff0037;
    text-decoration:underline;
} */

.operation_btn{
    display:flex;
}

.EdiDelBtn,
.EdiDelBtn:hover {
    width: 7vh;
    height: 3vh;
    margin: 10px;
    padding: 2pt 5pt;
    background-color: #5195d3;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4pt;
    box-shadow: none;
    border: none;
    text-decoration: none;
}

.center{
    text-align: center;
}


#formContent{
    width: 50vw;
    height: 50vw;
    margin:60px auto;
    max-width:600px;
    max-height:450px;
    min-width:400px;
    min-height:500px;
}


#register_table{
    margin:20px auto;
    border-collapse:collapse;
}

#register_table td{
    padding: 30px 50px 30px 20px;
    border-spacing: 0;
    border-bottom: 1.5px solid #BBBBBB;
}

/* #register_table tr{
    border-spacing: 0;
    border-bottom: solid #BBBBBB 5px ;
} */

.registBtn{
    /* margin-top:-30vw; */
    text-align: center;
}

.uploadBtn{
    margin-top:30px;
}

.mustCheck{
    /* width:9vh;
    height:4vh; */
    font-weight: bold;
    color: #EEEEEE;
    padding: 5px 12px;
    background-color: #FF6633;
    border-radius: 8px;
}

.bold{
    font-weight: bold;
}

.formText{
    width:150px;
    height:25px;
    font-size:18px;
    background-color: #EEEEEE;
}


/* モーダル */

.modal-wrapper {
    background: rgba(0, 0, 0, 0.8) !important;
    bottom: 0;
    left: 0;
    padding: 40.0px 10.0px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 998;
}

.modal-wrapper:not(:target) {
    opacity: 0.0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal-wrapper::after {
    content: "";
    display: inline-block;
    height: 100.0%;
    margin-left: -0.05em;
    vertical-align: middle;
}

.modal-wrapper .modal-window {
    background: rgb(255, 255, 255) !important;
    border-radius: 2.0px;
    box-shadow: 0 0 30.0px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    display: inline-block;
    max-width: 600.0px;
    padding: 30.0px 30.0px 15.0px;
    vertical-align: middle;
    width: 70.0%;
    z-index: 999;
    overflow-y: auto;
}

.modal-wrapper .modal-window .modal-content {
    max-height: 80.0vh;
    text-align: left;
}

/* .modal-content {
    z-index: 999;
} */

.modal-content h3 {
    width: 100.0% !important;
}

/* .modal-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
} */

.modal-wrapper .modal-close {
    color: rgb(149, 151, 156) !important;
    font-size: 20.0px;
    font-weight: 700;
    line-height: 35.0px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    top: 0;
    width: 35.0px;
    z-index: 20;
}

.modal-wrapper .modal-close:hover {
    color: rgb(43, 46, 56) !important;
}

.jmodal-button,
.jmodal-button:hover,
.regist_btn,
.regist_btn:hover,
.reset_btn,
.reset_btn:hover {
    width:9vh;
    height:4vh;
    margin:10px;
    padding: 7pt 12pt;
    background-color: #5195d3;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4pt;
    box-shadow: none;
    border: none;
    text-decoration: none;
}

.a-button{
    text-decoration: none;
    color:#EEEEEE;
    font-weight: bold;
}

.underbar{
    text-decoration: underline;
}

.fileinput{
    margin: 20px;
    font-size:16px;
}
